<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPage</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">


</head>


<body>

    <div class="outer">


        <h1 style="text-align: center; font-family: cursive;" id="title">VChat</h1>
        <div class="container" id="cont">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/do-not-disturb-2.png" id="dark-mode" onclick="enableDarkMode()" />

            <!-- <div class="left">
            <div class="upper">
                <span id="username">Username</span>
                <span id="time">Time</span>
            </div>
            
            <div class="lower"> hello abhi</div>
        </div> -->

            <!-- <div class="right">
            <div class="upper">
                <span id="username">Username</span>
                <span id="time">Time</span>
            </div>
            
            <div class="lower"> hello abhi</div>
        </div> -->



        </div>
        <form id="input_form" name="chat_form">

            <input type="text" name="chat" id="chat" placeholder="enter the message" autocomplete="off" >
            <button class="btn" type="submit" id="submit_btn"><img
                    src="https://img.icons8.com/color/48/000000/send-letter--v1.png" style=" margin:-18px" /></button>

        </form>

    </div>
    <script>
        var dmEnabled=false;
        function enableDarkMode(){
            // alert("enabled");
            if(dmEnabled==false){
                dmEnabled=true;
                
            document.body.style.background="url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80')";

            document.getElementById("title").style.color="white";
            document.getElementById("cont").style.borderColor="white";
            document.getElementById("dark-mode").src="https://img.icons8.com/ios/48/000000/sun--v2.png";
            document.getElementById("dark-mode").style.filter="invert(1)";


            }
            else
            {
                dmEnabled=false;
                document.body.style.background="url('https://images.unsplash.com/photo-1542559272-819e1934ac51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80')";

                let bg=document.body;
                bg.style.backgroundSize="100vh 100vw"
                bg.style.backgroundRepeat="repeat-y"
                bg.style.backgroundSize="cover"

            

            document.getElementById("title").style.color="black";
            document.getElementById("cont").style.borderColor="black";
            document.getElementById("dark-mode").src="https://img.icons8.com/ios-glyphs/30/000000/do-not-disturb-2.png";
            document.getElementById("dark-mode").style.filter="invert(0)";
            }




        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>



</html>